p {
    font-weight: 300;
}
li{
    cursor: pointer;
}
.nav-link {
    font-size: large;
}


.chevron-down-4 {
    margin-top: 4.5px;
    margin-left: 5px;
}

#btnsup {
    display: flex;
}

#navB {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 640px) {
    #navB {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  