.SRPA {
  height: 360px;
    display: flex;
    align-items: center;
    position: relative;
    gap: 3%;
    justify-content: center;
    width: 100%;
}

.SRPA .class {
  top: -8px !important;
}

.SRPA .class-2 {
  top: 0 !important;
}

.SRPA .class-3 {
  top: -8px !important;
}

.SRPA .class-4 {
  top: 0 !important;
}

.SRPA .class-5 {
  top: -8px !important;
}

.SRPA .class-6 {
  top: 0 !important;
}

.SRPA .class-7 {
  top: -8px !important;
}

.SRPA .class-8 {
  top: 0 !important;
}