@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --b1-header-16-font-family: "HelveticaNeue-Medium", Helvetica;
  --b1-header-16-font-size: 16px;
  --b1-header-16-font-style: normal;
  --b1-header-16-font-weight: 500;
  --b1-header-16-letter-spacing: 0.32px;
  --b1-header-16-line-height: 150%;
  --b1-header-18-font-family: "HelveticaNeue-Medium", Helvetica;
  --b1-header-18-font-size: 18px;
  --b1-header-18-font-style: normal;
  --b1-header-18-font-weight: 500;
  --b1-header-18-letter-spacing: 0px;
  --b1-header-18-line-height: normal;
  --blog-card-title-font-family: "HelveticaNeue-Medium", Helvetica;
  --blog-card-title-font-size: 16px;
  --blog-card-title-font-style: normal;
  --blog-card-title-font-weight: 500;
  --blog-card-title-letter-spacing: 0.32px;
  --blog-card-title-line-height: 150%;
  --blogpost-page-header-font-family: "HelveticaNeue-Bold", Helvetica;
  --blogpost-page-header-font-size: 36px;
  --blogpost-page-header-font-style: normal;
  --blogpost-page-header-font-weight: 700;
  --blogpost-page-header-letter-spacing: -0.36px;
  --blogpost-page-header-line-height: 150%;
  --body-text-b1-font-family: "NotoSans-Regular", Helvetica;
  --body-text-b1-font-size: 16px;
  --body-text-b1-font-style: normal;
  --body-text-b1-font-weight: 400;
  --body-text-b1-letter-spacing: 0px;
  --body-text-b1-line-height: 150%;
  --body-text-b2-font-family: "NotoSans-Regular", Helvetica;
  --body-text-b2-font-size: 14px;
  --body-text-b2-font-style: normal;
  --body-text-b2-font-weight: 400;
  --body-text-b2-letter-spacing: 0px;
  --body-text-b2-line-height: 150%;
  --button-text-font-family: "HelveticaNeue-Medium", Helvetica;
  --button-text-font-size: 16px;
  --button-text-font-style: normal;
  --button-text-font-weight: 500;
  --button-text-letter-spacing: 0px;
  --button-text-line-height: normal;
  --header-h0-font-family: "HelveticaNeue-Bold", Helvetica;
  --header-h0-font-size: 48px;
  --header-h0-font-style: normal;
  --header-h0-font-weight: 700;
  --header-h0-letter-spacing: 0px;
  --header-h0-line-height: 150%;
  --header-h1-5-font-family: "HelveticaNeue-Medium", Helvetica;
  --header-h1-5-font-size: 32px;
  --header-h1-5-font-style: normal;
  --header-h1-5-font-weight: 500;
  --header-h1-5-letter-spacing: 0px;
  --header-h1-5-line-height: 150%;
  --header-h1-font-family: "HelveticaNeue-Bold", Helvetica;
  --header-h1-font-size: 36px;
  --header-h1-font-style: normal;
  --header-h1-font-weight: 700;
  --header-h1-letter-spacing: 0px;
  --header-h1-line-height: 150%;
  --header-h2-font-family: "HelveticaNeue-Medium", Helvetica;
  --header-h2-font-size: 28px;
  --header-h2-font-style: normal;
  --header-h2-font-weight: 500;
  --header-h2-letter-spacing: 0px;
  --header-h2-line-height: 150%;
  --header-h3-font-family: "HelveticaNeue-Medium", Helvetica;
  --header-h3-font-size: 24px;
  --header-h3-font-style: normal;
  --header-h3-font-weight: 500;
  --header-h3-letter-spacing: 0px;
  --header-h3-line-height: 150%;
  --header-menu-dropdown: 0px 4px 16px 2px rgba(0, 0, 0, 0.06);
  --menu-header-font-family: "NotoSans-Medium", Helvetica;
  --menu-header-font-size: 16px;
  --menu-header-font-style: normal;
  --menu-header-font-weight: 500;
  --menu-header-letter-spacing: 0px;
  --menu-header-line-height: normal;
  --menu-header-selected-font-family: "NotoSans-Medium", Helvetica;
  --menu-header-selected-font-size: 16px;
  --menu-header-selected-font-style: normal;
  --menu-header-selected-font-weight: 500;
  --menu-header-selected-letter-spacing: 0px;
  --menu-header-selected-line-height: normal;
  --metric-descriptor-2-font-family: "NotoSans-Regular", Helvetica;
  --metric-descriptor-2-font-size: 20px;
  --metric-descriptor-2-font-style: normal;
  --metric-descriptor-2-font-weight: 400;
  --metric-descriptor-2-letter-spacing: 0.2px;
  --metric-descriptor-2-line-height: 150%;
  --metric-descriptor-font-family: "NotoSans-Regular", Helvetica;
  --metric-descriptor-font-size: 24px;
  --metric-descriptor-font-style: normal;
  --metric-descriptor-font-weight: 400;
  --metric-descriptor-letter-spacing: 0.24px;
  --metric-descriptor-line-height: 150%;
  --metric-font-family: "HelveticaNeue-Medium", Helvetica;
  --metric-font-size: 64px;
  --metric-font-style: normal;
  --metric-font-weight: 500;
  --metric-letter-spacing: 1.28px;
  --metric-line-height: 150%;
  --product-image-shadow: 0px 4px 24px 2px rgba(0, 0, 0, 0.15);
  --sh1-medium-font-family: "HelveticaNeue-Medium", Helvetica;
  --sh1-medium-font-size: 24px;
  --sh1-medium-font-style: normal;
  --sh1-medium-font-weight: 500;
  --sh1-medium-letter-spacing: 0.48px;
  --sh1-medium-line-height: normal;
  --sh2-medium-font-family: "HelveticaNeue-Medium", Helvetica;
  --sh2-medium-font-size: 20px;
  --sh2-medium-font-style: normal;
  --sh2-medium-font-weight: 500;
  --sh2-medium-letter-spacing: 0.4px;
  --sh2-medium-line-height: 150%;
  --shade-colour: rgba(241, 247, 249, 1);
  --shadow-video: 0px 4px 48px 12px rgba(0, 0, 0, 0.25);
  --sub-header-sh1-font-family: "HelveticaNeue-Regular", Helvetica;
  --sub-header-sh1-font-size: 24px;
  --sub-header-sh1-font-style: normal;
  --sub-header-sh1-font-weight: 400;
  --sub-header-sh1-letter-spacing: 0.48px;
  --sub-header-sh1-line-height: normal;
  --sub-header-sh2-font-family: "HelveticaNeue-Regular", Helvetica;
  --sub-header-sh2-font-size: 20px;
  --sub-header-sh2-font-style: normal;
  --sub-header-sh2-font-weight: 400;
  --sub-header-sh2-letter-spacing: 0.4px;
  --sub-header-sh2-line-height: 150%;
  --thumbnail-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  --variable-collection-black: rgba(8, 9, 10, 1);
  --variable-collection-blue-primary: rgba(20, 109, 250, 1);
  --variable-collection-brand-blue: rgba(43, 105, 151, 1);
  --variable-collection-brand-secondary: rgba(0, 30, 65, 1);
  --variable-collection-grey-05: rgba(60, 64, 67, 1);
  --variable-collection-grey-10: rgba(109, 116, 122, 1);
  --variable-collection-grey-40: rgba(235, 237, 240, 1);
  --variable-collection-illustration-blue: rgba(110, 157, 233, 1);
  --variable-collection-success-green: rgba(103, 195, 128, 1);
  --variable-collection-testimonial-card: rgba(241, 246, 249, 1);
  --video-shadow: 0px 4px 24px 4px rgba(0, 0, 0, 0.15);
}